@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* ::-webkit-scrollbar {
  display: none;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
body {
  overflow: hidden !important;
}
label {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}
#home {
  height: 100vh;
  width: 100vw;
  background: rgba(99, 21, 60, 1);
  background: -moz-linear-gradient(
    top,
    rgba(81, 75, 158, 1) 0%,
    rgba(37, 196, 219, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(81, 75, 158, 1)),
    color-stop(100%, rgba(37, 196, 219, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(81, 75, 158, 1) 0%,
    rgba(37, 196, 219, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(81, 75, 158, 1) 0%,
    rgba(37, 196, 219, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(81, 75, 158, 1) 0%,
    rgba(37, 196, 219, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(81, 75, 158, 1) 0%,
    rgba(37, 196, 219, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63153c', endColorstr='#4a1354', GradientType=0 );
  background-size: 100%;
  text-align: center;
  position: relative;
}
.adminlogin {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #f9f9f9;
  padding: 30px;
  width: 360px;
  height: 360px;
  padding-top: 30px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
}
.adminlogin h1 {
  text-transform: uppercase;
  margin-bottom: 15px;
  color: rgb(80, 80, 80);
  font-size: 30px;
}
.btn-success {
  width: 100%;
}
input:hover,
input:active,
input:focus {
  outline: none !important;
  box-shadow: none !important;
  box-shadow: 5px solid rgba(99, 21, 60, 0.25) !important;
  border: 1px solid #000 !important;
}
.invalidbox {
  border: 1px solid rgb(253, 7, 7) !important;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51.3%, -47%);
  opacity: 0.08;
  height: 110%;
}

@media (max-width: 800px) {
  .adminlogin {
    padding: 30px;
    width: 300px;
    height: 360px;
    padding-top: 30px;
  }
  img {
    display: none;
  }
}
