/******************************************
            Importing Fonts 
*****************************************/
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/******************************************
            Common Features 
*****************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}
.monserrat-font{
  font-family: 'Montserrat', sans-serif;
}
/**********************************************
        Navbar Hamburger Animation
**********************************************/
.hamburger-animated {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: none;
}

.hamburger-animated span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border: none;
}
.navbar-toggle,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none;
  border: none !important;
}
.hamburger-animated span {
  background: #ffffff;
}

.hamburger-animated span:nth-child(1) {
  top: 0px;
}

.hamburger-animated span:nth-child(2) {
  top: 10px;
}

.hamburger-animated span:nth-child(3) {
  top: 20px;
}

.hamburger-animated.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.hamburger-animated.open span:nth-child(2) {
  top: -200px !important;
}

.hamburger-animated.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/**********************************************
              Navbar
  **********************************************/
.navbar-brand,
.nav-link {
  color: white !important;
  transition: 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}
.navbar-brand {
  font-size: 22px;
}
.navbar {
  position: fixed !important;
  width: 100%;
  background-color: rgba(81, 75, 158, 1);
  z-index: 100;
}
.nav-link {
  text-transform: uppercase;
  padding-left: 15px !important;
  padding-right: 15px !important;
  letter-spacing: 1.2px;
}
.nav-link:hover,
.nav-link:active {
  padding-right: 30px !important;
  padding-left: 30px !important;
  transition: 0.4s ease;
  box-shadow: 0px 1.4px 0px 0px #ffffff;
}
.nav-scrolled {
  transition: 0.7s ease;
  box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.32) !important;
}
@media (max-width: 900px) {
  .nav-link {
    font-size: 20px;
  }
}
/* Footer */
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: rgba(81, 75, 158, 1);
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  footer .row {
    margin-top: 0 !important;
  }
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
  transition: 0.23s all ease;
}

.footer-dark .item.social > a:hover {
  /* opacity: 0.9;
  background-color: #514b9e;
  box-shadow: 10px 7px 8px 3px rgba(255, 255, 255, 0.2);
  border-radius: 1px solid white; */
  background-color: #fff;
  color: #514b9e;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
