/******************************************
            Home
*****************************************/
* ::-webkit-scrollbar {
  display: none;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

#home {
  height: 100%;
  background: rgba(37, 196, 219, 1);
  background: -moz-linear-gradient(
    top,
    rgba(81, 75, 158, 1) 0%,
    rgba(37, 196, 219, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(81, 75, 158, 1)),
    color-stop(100%, rgba(37, 196, 219, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(81, 75, 158, 1) 0%,
    rgba(37, 196, 219, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(81, 75, 158, 1) 0%,
    rgba(37, 196, 219, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(81, 75, 158, 1) 0%,
    rgba(37, 196, 219, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(81, 75, 158, 1) 0%,
    rgba(37, 196, 219, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63153c', endColorstr='#4a1354', GradientType=0 );
  background-size: 100%;
  text-align: center;
  position: relative;
}
.section-content {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#committes {
  padding-top: 50px;
}
#committes h5 {
  color: rgb(85, 85, 85);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
#committes h4 {
  color: rgb(85, 85, 85);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

#committes h1 {
  color: rgb(37, 37, 37);
  margin: 0;
  text-align: center;
}
#R-container {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.continerx {
  margin-bottom: 5px;
}
.box-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.card:hover {
  text-shadow: none;
  opacity: 0.7;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  
}
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0);
}
/******************************************************
                    IEC TEXT REVEAL 
*******************************************************/
.animated-effect-heading {
  margin-top: 80px;
 
  margin-bottom: 50px;
}
.animated-effect-heading span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}
.animated-effect-heading span:nth-child(1) {
  font-weight: bolder;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 100px;
}
.animated-effect-heading span:nth-child(2) {
  font-size: 30px;
}
.text-animation::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
 
  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}
.text-animation::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
 
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}
.animated-effect-heading span:nth-of-type(1)::before,
.animated-effect-heading span:nth-of-type(1)::after {
  animation-delay: 1s;
}
.animated-effect-heading span:nth-of-type(2)::before,
.animated-effect-heading span:nth-of-type(2)::after {
  animation-delay: 1.5s;
}
@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}
@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

/******************************************
        Hovering Button Effect
*****************************************/
.btn-hov-1 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 0.5em 2em;
  cursor: pointer;
  overflow: hidden;
  color: white !important;
}
.btn-hov-1:before,
.btn-hov-1:after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: white;
}
.btn-hov-1:before {
  top: 0;
}
.btn-hov-1:after {
  bottom: 0;
}
.btn-hov-1:hover > * > *:before,
.btn-hov-1:hover > * > *:after {
  transform: translate3d(0, 0, 0);
}
.btn-hov-1:hover > * > * > *:before,
.btn-hov-1:hover > * > * > *:after {
  transform: translate3d(0, 0, 0);
}
.btn-hov-1 > *:before,
.btn-hov-1 > *:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: white;
}
.btn-hov-1 > *:before {
  left: 0;
}
.btn-hov-1 > *:after {
  right: 0;
}
.btn-hov-1 > * > *:before,
.btn-hov-1 > * > *:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  height: 2px;
  width: 100%;
}
.btn-hov-1 > * > *:before {
  top: 0;
  transform: translate3d(-105%, 0, 0);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hov-1 > * > *:after {
  bottom: 0;
  transform: translate3d(105%, 0, 0);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hov-1 > * > * > *:before,
.btn-hov-1 > * > * > *:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 2px;
}
.btn-hov-1 > * > * > *:before {
  left: 0;
  transform: translate3d(0, 105%, 0);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hov-1 > * > * > *:after {
  right: 0;
  transform: translate3d(0, -105%, 0);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hov-1:hover {
  text-decoration: none;
}
/* Customising */
/* Register Now button */
.regbtn {
  color: white !important;
}
.regbtn:before,
.regbtn:after {
  background-color: white;
}
.regbtn > *:before,
.regbtn > *:after {
  background-color: white;
}
.regbtn > * > *:before,
.regbtn > * > *:after {
  background-color: rgb(0, 0, 0);
}
.regbtn > * > * > *:before,
.regbtn > * > * > *:after {
  background-color: rgb(0, 0, 0);
}
.regbtn:hover {
  color: #000000 !important;
}

/* Gallery Button */
.gallerybtn {
  color: rgba(81, 75, 158, 1) !important;
  transition: 0.4s ease-in all;
}
.gallerybtn:before,
.gallerybtn:after {
  background-color: rgba(81, 75, 158, 1);
}
.gallerybtn > *:before,
.gallerybtn > *:after {
  background-color: rgba(81, 75, 158, 1);
}
.gallerybtn > * > *:before,
.gallerybtn > * > *:after {
  background-color: rgb(7, 7, 255);
}
.gallerybtn > * > * > *:before,
.gallerybtn > * > * > *:after {
  background-color: rgb(7, 7, 255);
}
.gallerybtn:hover {
  color: rgb(7, 7, 255) !important;
  background-color: #f9f9f9;
}

/********************************
 Scroll Down icon and animation 
******************************/
.scroll-down-icon {
  position:relative;
  bottom: 80px;
  left: 50%;
}
.chevron {
  position: relative;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}
.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: rgba(256, 256, 256, 0.6) !important;
}
.chevron:before {
  left: 0;
  transform: skewY(30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}
@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}

/******************************************
           mESSAGE from Sec Gen
*****************************************/
#secgen {
  background-color: #f1f1f1 !important;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}
#secgen h5 {
  color: rgb(85, 85, 85);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
#secgen h1 {
  color: rgb(37, 37, 37);
  margin: 0;
  text-align: center;
}
#secgen .textcol p {
  margin-top: 33px;
}
#secgen .imgcol {
  padding-left: 100px;
  padding-top: 125px;
}
#secgen img {
  text-align: center;
  width: 300px;
}

#secgen .imgcol p {
  margin-top: 13px !important;

  margin-left: 30px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  color: rgb(85, 85, 85);
}

@media (max-width: 1000px) {
  #secgen .imgcol {
    padding-left: 0px;
    padding-top: 0px;
  }
  #secgen img {
    width: 75%;
  }
  #secgen .imgcol p {
    margin-top: 13px;
    margin-left: 20px;
  }
}
/**********************************************************************************************************************************
                                                         RESPONSIVENESS 
***********************************************************************************************************************************/

@media (max-width: 1000px) {
  .iec-logo {
    width: 85%;
    height:95%
  }
  .row {
    margin-top: 80px;
  }
  .animated-effect-heading span:nth-child(1) {
    font-size: 42px;
    margin-top: -60px !important;
    padding-bottom: 10px;
  }
  .animated-effect-heading span:nth-child(2) {
    font-size: 20px;
    padding-bottom: 5px;
  }
  .animated-effect-heading {
    --bg-color: #4f134a;
    padding-bottom: 0px;
  }

  .btn-hov-1 {
    font-size: 22px;
    margin-top: 0px;
  }
  .scroll-down-icon {
    position: absolute;
    bottom: 60px;
    left: 43%;
  }
  .chevron {
    position: absolute;
    width: 1.5rem;
    height: 0.48rem;
    opacity: 0;
    transform: scale(0.3);
  }
}
